extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Carlos Machado

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Bachelor's degree in Business Management from the Nueva Esparta University in Caracas, Venezuela 
            | Polyglot: Spanish, English, Portuguese and French
            | FX derivatives trader 
            | Passionate about FinTech and how new technologies are going to revolutionize modern society 
            | Life-long learner and bookworm to the core of my being 


      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li JavaScript
          li Node.js
          li HTML
          li CSS 
          li Promises
          li AJAX
          li Ruby
          li Object-oriented-programming
          li JQuery
        h6 Contact Info

        //- Add your own contact info
        ul
          li 123-456-789
          li carlos@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://linkedin.com', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/cdgmachado0/', target="_blank") GitHub
        a.button.expanded(href='https://twitter.com', target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  