extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Carlos Machado

        //- Feel free personalize the title below
        p.lead.text-light
          | Blockchain Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non dolor faucibus, 
            | finibus quam non, lacinia lectus. Proin iaculis erat vitae lacus convallis gravida. 
            | Cras suscipit turpis quis semper condimentum. Ut tincidunt pellentesque magna in posuere. 
            | Sed rutrum fermentum erat quis venenatis. Nunc consectetur vulputate egestas. 
            | Quisque maximus ultrices nisi vel luctus. Morbi efficitur tellus ac lacus posuere.


      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li JavaScript
          li Node.js
          li HTML
          li CSS 
          li Promises
          li Solidity
          li Ruby
          li Object-oriented-programming
          li JQuery
        h6 Contact Info

        //- Add your own contact info
        ul
          li 123-456-789
          li carlos@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://linkedin.com') LinkedIn
        a.button.expanded(href='https://github.com/cdgmachado0/') GitHub
        a.button.expanded(href='https://twitter.com') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  